{{ define "main" }}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="document-title">About</h1>
      </div>
    </div>
    <div class="row pt-3 pt-md-5">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-lg-8">
            <h3 id="aboutthisprojecthousingliteracy">What is Housing Literacy?</h3>
            <p>New York City has some of the strongest rent regulation laws in the country; however, they are also some of the most complex and difficult to decipher. When tenants don’t fully understand their housing rights, it’s difficult to take full advantage of the protections that rent regulation offers. Housing Literacy is a two-year project intended to increase tenants’ housing literacy by identifying particularly important aspects of rent regulation laws and developing resources aimed at helping tenants better understand the City’s rent regulation laws.</p>

            <p>The central goal of Housing Literacy is to develop annotations of the three most common documents that renters encounter when signing a lease for a rent-stabilized unit: a standard rent-stabilized lease, a renewal lease, and a lease rider for rent-stabilized tenants. The annotations highlight specific areas of these documents that tenants should read and understand carefully, point them to resources so that they can learn more about these issues, and give them basic knowledge that will empower them to better address their housing-related issues.</p>

            <p>For tenants at risk of displacement in the midst of the housing crisis, Housing Literacy is a platform that empowers them to take full advantage of the rights they already have and makes them aware of matters that affect their housing realities. Housing Literacy’s larger aim is to support fair housing practices among diverse communities in a changing urban landscape.</p>

            <p>This project was created with the support of <a href="https://tandn.org" target="_blank">Tenants and Neighbors</a>. Their guidence and technical support helped create Housing Literacy. The project lead of Housing Literacy is the Center For the Humanities, Digital Publics Fellow Kasey Zapatka. He is a doctoral student in sociology at The City University of New York, CUNY and encourages any feedback on this project. He can be reached by email at <strong>housingliteracy@gmail.com.</strong> Be sure to check out many of the other rent-stabilized resources identified below.</p>
          </div>
          <div class="col-lg-4">
            <h3 id="legaldisclaimer">Legal Disclaimer</h3>
            <p>The <strong>information contained on this web page does not constitute legal advice</strong> and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing.</p>

            <p>This information pertains only to tenants living in New York City.</p>

            <p>Many of your rights depend on the type of housing you live in or your type of tenancy. <strong>You may be subject to different laws and have different sets of rights than even neighbors in your own building. Learn which rights and responsibilities apply to you.</strong></p>

            <p>Here is a list of some legal resources:</p>

            <ul>
              <li><a href="https://www1.nyc.gov/site/rentguidelinesboard/resources/legal-assistance.page" target="_blank">Rent Guidelines Board List of Resources</a></li>

              <li><a href="https://rentregulators.com" target="_blank">Rent Regulators</a></li>

              <li><a href="https://www.legalaidnyc.org/helplines/" target="_blank">Legal Aid New York City</a></li>

              <li><a href="https://www.lawhelpny.org" target="_blank">LawHelpNY</a></li>

              <li><a href="http://www.legalservicesnyc.org/about-us/contact-us" target="_blank">Legal Service NYC</a></li>

              <li><a href="https://www1.nyc.gov/nyc-resources/service/1205/one-shot-deal-short-term-emergency-assistance" target="_blank">One Shot Deal</a></li>

              <li><a href="https://www.nycbar.org/get-legal-help/our-services/monday-night-law/" target="_blank">Monday Night Law</a></li>

              <li><a href="https://www.citybarjusticecenter.org/get-help/" target="_blank">City Bar Justice Center</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 d-flex">

      <div class="col-12">
        <h3 id="nychousingrelatedresources">NYC Housing-Related Resources</h3>
        <hr/>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://portal.hcr.ny.gov/app/ask" target="_blank" class="resource">
        <h5>Obtaining Your Rent History</h5>
        This is the quick link to the form on New York State’s Homes and Community Renewal Website that allows you to request your unit’s rent history. Landlords of rent-regulated units are required to disclose the rent they are charging every year. Examining this list with a lawyer is the best way for a tenant to determine if their landlord is charging the legal allowable amount.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/rental-housing-documents-type?f%5B0%5D=filter_term%3A1161" target="_blank" class="resource">
        <h5>Fact Sheets</h5>
        This website links readers to the archive of 45 different Fact Sheets that explain major elements of rent control and rent stabilization in New York City. You can even apply key words to more quickly search through the archive. The website is housed on the New York State Homes and Community Renewal’s webpage.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www1.nyc.gov/site/rentguidelinesboard/index.page" target="_blank" class="resource">
        <h5>Rent Guidelines Board</h5>
        The Rent Guidelines Board is mandated to establish rent adjustments for all the units subject to the Rent Stabilization Law in New York City.  The board is appointed by the mayor; consists of members representing various interests; and publishes mandated housing research (NYCHVS), the annual rent adjustments, and other important housing-related resources.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

          <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/rent-regulation-terms" target="_blank" class="resource">
        <h5>Rent Regulation Glossary</h5>
        New York State Homes and Community Renewal has developed a glosary that explains some of the important rent regulation terms. Familiarity with this list of terms will help tenants more quickly identify and understand some of the topics that concern rent regulation. There are also a lot of links to articles that provide more clarity. 
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/most-common-rent-regulation-issues-tenants" target="_blank" class="resource">
        <h5>Most Common Rent Regulation Issues for Tenants</h5>
        This page on the New York State Homes and Community Renewal's webpage provides an overview of some of the most common rent regulatio issues that tenants might encounter. It is a good overview for those unfamiliar with the basics of rent regulation. 
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/system/files/documents/2018/09/ralr1.pdf" target="_blank" class="resource">
        <h5>Lease Rider</h5>
        This links to a pdf of the lease rider that should be attached to the original lease that a tenant receives upon first-time occupancy. Some version of this rider should be attached to all subsequent leases.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

       <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/system/files/documents/2018/09/rtp8.pdf" target="_blank" class="resource">
        <h5>Lease Renewal</h5>
        This links to a pdf of the typical lease renewal form that a rent-stabilized tenant should receive when their rent-stabilized lease has expired. 
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www1.nyc.gov/assets/finance/downloads/pdf/leap/renewal-lease.pdf" target="_blank" class="resource">
        <h5>Lease Renewal Annotation</h5>
        This document helps explain each of the sections on a rent-stabilized renewal lease that tenants needs to fill out. It has simple annotations and walks a tenant through the renewal lease, box by box.  
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

        <div class="col-lg-4 d-flex mb-4">
        <a href="https://rent.hcr.ny.gov/RentConnect/Tenant/leaseViolationOverview" target="_blank" class="resource">
        <h5>Lease Violation Complaint</h5>
        Tenants in rent stabilized apartments may file this complaint if the owner has not offered a renewal lease, has changed the terms and/or conditions of the lease, refuses to add a spouse to the lease, or offered an initial lease that is not in accordance with the law.  
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://ag.ny.gov/sites/default/files/tenants_rights.pdf" target="_blank" class="resource">
        <h5>Tenant’s Rights</h5>
        The Attorney General of the State of New York has published a guide that outlines the rights of tenants whose units are subject to the Rent Stabilization Law in New York City.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www1.nyc.gov/site/rentguidelinesboard/resources/glossary-of-rent-regulation-terms.page" target="_blank" class="resource">
        <h5>Housing Glossary</h5>
        The Rent Guidelines Board maintains a glossary of housing-related terms that might be useful to those unfamiliar with the Rent Stabilization Law in New York City.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www1.nyc.gov/assets/rentguidelinesboard/pdf/guidelines/aptorders2018.pdf" target="_blank" class="resource">
        <h5>History of Rent Increases</h5>
        A link to a pdf documenting the history of rent increases in New York City from 1968 until 2018.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="http://housingcourtanswers.org" target="_blank" class="resource">
        <h5>Housing Court Answers</h5>
        Housing Court Answers is a resource for tenants who do not have lawyers. The organization's website, their hotline, and the information tables set up at housing court helps to answer many of the common questions tenants face about housing court.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://amirentstabilized.com" target="_blank" class="resource">
        <h5>Am I Rent-Stabilized?</h5>
        This website checks to verify if your address matches a list of buildings that are likely to have rent stabilized apartments. However, the list is not 100% accurate because it is not regularly updated. So, the best course of action is always to request your rent history and then seek the advice of a tenants rights group or housing lawyer.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://rentlogic.com" target="_blank" class="resource">
        <h5>Rentlogic</h5>
        Rentlogic is an online app that allows tenants to search their address and view an overall rating of their building. Rentlogic has gathered data from various City agencies on verified city-issued violations against buildings and built a rating system that works like a credit card score--unfavorable events and patterns drop a building’s rating, which recovers at a rate dependent on the severity of the issue. This link describes the app in better detail.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://map.displacementalert.org/#close" target="_blank" class="resource">
        <h5>Displacement Alert Project</h5>
        The DAP Map is a building-by-building, web-based interactive map of New York City that specifically locates areas and neighborhoods in which tenants are most likely to be facing significant displacement pressures. The DAP Map is meant to be a strategic tool for tenant organizing and housing advocacy.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.justfix.nyc" target="_blank" class="resource">
        <h5>Just Fix NYC</h5>
        Just Fix NYC is a web-based service app that was designed to assist New Yorkers in documenting housing neglect or disrepair. Tenants, community organizations, and housing advocates can use the app to connect with others in similar situations and share information, document evidence of housing neglect, take legal action against their landlords, and share their stories with others.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://heatseek.org/learn-more-how-we-work" target="_blank" class="resource">
        <h5>HeatSeek</h5>
        Is a pilot program that targets renters most at risk and installs heat sensors that record the temperature in the apartment and relay the data to the company’s website, which matches it to the temperature outside to determine if the apartment is in violation of the heating season requirements. Armed with this data, advocates, lawyers, and tenants can use legal means to enforce violations.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://landlordwatchlist.com" target="_blank" class="resource">
        <h5>The Landlord Watchlist</h5>
        The City’s response to the Tenant Blacklist, the Public Advocate’s Worst Landlords Watchlist is an information-sharing tool intended to allow tenants, advocates, and public officials to identify which property owners consistently violate the City’s housing regulations that are intended to protect the rights and safety of tenants. This link will take you directly to the private housing list, but there is also a list of public housing projects. It publicly shames landlords in hopes that negative attention and fines will force them to provide better housing conditions to their tenants.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://rentregulators.com" target="_blank" class="resource">
        <h5>Rent Regulators</h5>
        Rent Regulators is a tenant consulting firm that was founded by two commercial real estate agents in Manhattan  who are interested in preserving affordable housing in New York City. The firm was founded when one of the co-founders discovered they were being overcharged for their rent-stabilized apartment and realized how little information there was available, even for people familiar with real estate rules and regulations.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

       <div class="col-lg-4 d-flex mb-4">
        <a href="https://housingrightsny.org" target="_blank" class="resource">
        <h5>Housing Rights Initiative</h5>
        Housing rights Initiative is a non-profit housing watchdog group. They use big data and systematic analysis to investigate and real estate fraud and connect tenants to  legal support. They are especially concerned with preserving affordable housing and protecting tenants against predatory landlords. They have even brought class action suites in a few cases.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://hcr.ny.gov/tenantowner-forms" target="_blank" class="resource">
        <h5>Tenant Forms</h5>
        This links to a webpage on the New York State Homes and Community Renewal that lists many different types of forms that tenants might need. Many of these forms have been mentioned throughout the annotations, but this a quick link to some of them.
        <h6 class="mt-3">Go to Resource →</h6>
        </a>
      </div>

    </div>

    <div class="row mt-5 d-flex">

      <div class="col-12">
        <h3 id="nychousingrelatedresources">NYC Housing-Related Readings</h3>
        <hr/>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.nytimes.com/topic/subject/rent-stabilization-and-rent-control?mcubz=0" target="_blank" class="resource">
        <h5>From the New York Times' Archive</h5>
        These search parameters list all the articles from the New York Times’ archive that discuss “Rent Stabilization and Rent Control”.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="http://furmancenter.org/thestoop" target="_blank" class="resource">
        <h5>NYU Furman Center</h5>
        The NYU Furman Center advances research and debate on housing, neighborhoods, and urban policy. They produce a number of in depth reports on housing and housing-related issues. Take a look at their CoreData project.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www1.nyc.gov/site/hpd/about/nychvs.page" target="_blank" class="resource">
        <h5>NYC Housing and Vacancy Survey Reports</h5>
        Every three years, the Department of Housing Preservation and Development (HPD) partners with the U.S. Census Bureau to conduct the New York City Housing and Vacancy Report. This report is used by the Rent Guidelines Board in making decisions about rent increases.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.nybooks.com/articles/2017/08/17/tenants-under-siege-inside-new-york-city-housing-crisis/" target="_blank" class="resource">
        <h5>Tenants Under Siege</h5>
        “Tenants Under Siege: Inside New York City’s Housing Crisis” is Michael Greenberg’s long-form article that explores the roots the New York City Housing Crisis.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.propublica.org/article/the-vote-that-made-new-york-city-rents-so-high" target="_blank" class="resource">
        <h5>The Rent Deregulation Vote</h5>
        “The Fateful Vote That Made New York City Rents So High” details how landlords gained the ability to remove apartments from regulation has a surprising backstory.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.propublica.org/article/new-york-landlords-exploit-loophole-to-hike-rents-despite-freeze" target="_blank" class="resource">
        <h5>Preferential Rents and Rent Hikes</h5>
        This article discusses how landlords take advantage of loopholes to hike rents during a rent freeze and make is more difficult to tell if your unit is rent-regulated.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://ny.curbed.com/2017/4/25/15425058/nyc-rent-stabilization-loophole-landlords" target="_blank" class="resource">
        <h5>Preferential Rents and Loopholes</h5>
        This article evaluates how preferential rents are used strategically by landlords to evict tenants so as to convert rent-regulated units to market-rate.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="http://blog.johnkrauss.com/where-is-decontrol/" target="_blank" class="resource">
        <h5>Changes in Rent Regulation</h5>
        Hacktivist John Krauss and his colleagues scraped property tax bills from ACRIS (the City’s Automated City Register Information System) and created maps that visualize changes from 2007 to 2014. The data has since been updated to 2016.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://citylimits.org/2015/03/09/nycs-endangered-species-a-rent-controlled-apartment/" target="_blank" class="resource">
        <h5>The Endangered Rent-Controlled Apartment</h5>
        “NYC’s Endangered Species: A Rent-Controlled Apartment” highlights the difficult issues that rent-controlled tenants face in a housing market where rent-control is like an endangered species.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://ny.curbed.com/2015/7/17/9939554/new-rent-laws-may-be-better-for-tenants-than-expected" target="_blank" class="resource">
        <h5>High-Rent Vacancy and High-Rent Income Deregulation</h5>
        This article explains how new interpretations of the Rent Act of 2015 may make it harder to deregulate regulated housing units, but outlines some of difficulties in enforcing it.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://citylimits.org/2017/10/04/bill-de-blasio-is-still-in-his-first-term-and-were-already-debating-his-housing-legacy" target="_blank" class="resource">
        <h5>De Blasio’s Housing Legacy</h5>
        This article debates the housing legacy of Mayor De Blasio and evaluates how the difficult choices he’s made have benefitted and helped the City’s most vulnerable tenants.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.jacobinmag.com/2014/10/de-blasios-doomed-housing-plan" target="_blank" class="resource">
        <h5>De Blasio’s Doomed Housing Plan</h5>
        This article levies several thoughtful critiques against Mayor De Blasio housing plan, specifically Mandatory Inclusionary Zoning (MIH).
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://citylimits.org/2015/06/29/a-brief-history-of-rent-guidelines-board-decisions" target="_blank" class="resource">
        <h5>A Brief History of Rent Guidelines Board Decisions</h5>
        It should be noted that this article appeared right around when the Rent Guidelines Board decided to not allow rent increases for the first time ever for one-year leases.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://www.brickunderground.com/blog/2015/01/rent_stabilization_misconceptions" target="_blank" class="resource">
        <h5>Insider’s Guide to Rent-Stabilized Apartments</h5>
        This article addresses many of the myths surrounding rent-stabilized apartments in New York City.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

      <div class="col-lg-4 d-flex mb-4">
        <a href="https://cdp.urbanjustice.org/sites/default/files/CDP.WEB.doc_Report_SNYCPredatoryEquity_20171214_0.pdf" target="_blank" class="resource">
        <h5>Stabilizing NYC: The Predatory Equity Story</h5>
        This report on predatory equity was issued by Stabilizing NYC (SNYC), and  explains predatory equity and the danger that it poses to preserving affordable housing for the New Yorkers who need it most.
        <h6 class="mt-3">Go to Reading →</h6>
        </a>
      </div>

    </div>
  </div>

{{ end }}
