@import 'font-sg-bold';
@import 'font-sg-regular';

@font-face {
    font-family: 'Sporting-Bold';
    src: url(data:application/x-font-woff;charset=utf-8;base64,#{$sgbold}) format('woff');
}

@font-face {
    font-family: 'Sporting-Regular';
    src: url(data:application/x-font-woff;charset=utf-8;base64,#{$sgregular}) format('woff');
}
