// ...
@import 'fonts';
@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';


$spacer: 1rem;

* {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  color: #000;
  font-size: 16px;
  line-height: 1.35;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.annotation-link {
  z-index: 1039;
  background: #fcf9af;
  cursor: pointer;
  &:hover {
    background: yellow;
  }
}

.home-intro {
  display: block;
  font-size: $font-size-lg;
  margin-bottom: 10px;
}

.btn-home {
  display: inline-block;
  border: none;
  padding: 10px 12px 8px 12px;
  font-family: "Sporting-Bold", sans-serif;
  border-radius: 0px;
  color: white;
  background: black;
  margin-bottom: 10px;
  &:hover {
    color: white;
    background-color: #007bff !important;
  }
}

a.home-title {
  color: black;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

.resource {
  padding: 20px;
  display: block;
  color: black;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  &:hover {
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
  }
}

div.modal-backdrop.show {
  background-color: black;
  opacity: .3;
}

.document-title {
  font-size: 60px;
  text-transform: uppercase;
  @media only screen and (max-width: 576px) {
    font-size: 2.25rem;
  }
}

.single {
  padding-top: 3rem;
  @media only screen and (max-width: 576px) {
    padding-top: 3rem;
  }
}

.navbar {
  border-bottom: 1px solid black;
  @media only screen and (max-width: 576px) {
    padding: 0.5rem 0rem;
  }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.2);
}

.bd-navbar .navbar-nav-scroll .navbar-nav {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: 1rem;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.navbar ul.navbar-nav li {
  font-family: "Sporting-Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px 10px;
  a {
    color: rgba(0,0,0,.2);
  }
}

.navbar ul.navbar-nav li.active a {
  color: black;
}

.navbar ul.navbar-nav li:last-child {
  padding-right: 0px;
}

.annotation-image {
  display: inline-block;
  position: relative;
  top: -3px;
}

.annotation-image-block {
  display: block;
}

.annotation-title {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.annotation-toggle {
border: none;
background: none;
position: absolute;
top: 0;
margin-top: .75rem;
right: 0;
margin-right: .5rem;
}

.collapse:not(.show) {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
}

#navbarSupportedContent {
  @media screen and (max-width: 768px) {
    background: white;
    position: absolute;
    top: 108px;
    padding-top: 1.5rem;
  }
}

span.line-field {
  display: inline-block;
  border-bottom: solid 1px;
  padding-top: 1.25rem;
  &.full {
    width: 99%;
  }
  &.three-quarter {
    width: 75%;
  }
  &.half {
    width: 50%;
  }
  &.quarter {
    width: 25%;
  }
}



span.half-line {
  display: inline-block;
  width: 50%;
  border-bottom: solid 1px;
  padding-top: 1rem;
}

span.quarter-line {
  display: inline-block;
  width: 25%;
  border-bottom: solid 1px;
  padding-top: 1rem;
}

.close {
  float: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: none;
  opacity: 1;
}

.modal-header {
  padding: 1rem;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// .modal-body a {
//   color: black;
//   border-bottom: 1px solid rgba(0,0,0,0.3);
//   &:hover {
//     border-bottom: 1px solid black;
//     text-decoration: none;
//   }
// }

.modal-content {
  border: 1px solid white;
  border-radius: 0;
}

.modal-dialog {
    margin-right: 1rem;
}

@media only screen and (max-width: 576px) {
  .modal-dialog {
      margin: 1rem;
  }
}

.modal-link {
  display: block;
  border: 1px solid black;
  border-bottom: 4px solid black;
  background: white;
  z-index: 2;
  color: black;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
  h6 {
    margin-bottom: 5px;
  }
  strong {
    font-family: serif;
    margin-bottom: 5px;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    background: #fcf9af;
    text-overflow: ellipsis;
  }
  &:hover {
    border: 1px solid black;
    border-bottom: 4px solid black;
    color: black;
    text-decoration: none;
  }
}

code {
    color: black;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.modal-highlight {
  padding: 0px 15px;
  strong {
      font-family: serif;
      margin-bottom: 5px;
      line-height: 1.5;
      overflow: hidden;
      width: 100%;
      background: #fcf9af;
    }
}

#rent-stabilized-rider-anchor:hover a#rent-stabilized-rider {
    background: none;
}

#modal-link:hover .gradient {
    background: none;
}

.gradient {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  height: 80px;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.border {
  border: 1px solid black !important;
}

.logo-image {
  border: 1px solid black !important;
  margin-right: 8px;
}

.logo-name {
  font-family: "Sporting-Bold", sans-serif;
  line-height: 1;
  margin-top: 3px;
  font-size: 16px;
  margin-right: 30px;
  font-weight: normal;
}

.text-black {
  color: black !important;
  &:hover {
    text-decoration: none;
  }
}

.page {
  background-color: white;
  border: 1px solid black !important;
  padding: 3rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  @media only screen and (max-width: 576px) {
    padding: 1rem;
  }
}

.page-home {
  font-size: .3rem;
  max-width: 400px;
  background-color: white;
  border: 1px solid black !important;
  padding: 2rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  @media only screen and (max-width: 576px) {
    padding: 1rem;
  }
}

body {
  position: relative;
  background-color: #E4E7E2;
  color: #000;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Sporting-Bold", sans-serif;
  font-weight: normal;
}

footer {
  background: white;
  border-top: solid 1px;
  padding-top: 2rem;
  h6 {
    margin-bottom: 0;
  }
  .site-footer__copyright {
    font-size: .75rem;
  }
}
