<footer class="site-footer" role="contentinfo">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12 mb-4">
        <span class="cfh-logo"><h6>The Center for <br/>the Humanities</h6></span>
      </div>
      <div class="col-md-3">
          <a href="/documents/lease/"><h6>Lease</h6></a>
          <ul>
            <li><a href="/assets/standard-apartment-lease-template.pdf" target="_blank">Download Lease (PDF)</a></li>
            <li><a href="https://docs.google.com/document/d/1JqPnFyr2ZpiJNTpVDf-3vDeZ7AVp-pu3uYiSdiEdbEU/edit?usp=sharing" target="_blank">View Lease Google Doc</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <a href="/documents/renewal"><h6>Renewal</h6></a>
          <ul>
            <li><a href="/assets/renewal-lease-template.pdf" target="_blank">Download Renewal (PDF)</a></li>
            <li><a href="https://docs.google.com/document/d/1iTv6m5-O2lP6hMue-lwwaPtNBIbWDB6ITQBoTtcAwn4/edit?usp=sharing" target="_blank">View Renewal Google Doc</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <a href="/documents/rider"><h6>Rider</h6></a>
          <ul>
            <li><a href="/assets/rent-stablized-rider-template.pdf" target="_blank">Download Rider (PDF)</a></li>
            <li><a href="https://docs.google.com/document/d/1v-ENvlVg8FQ-qP1sAbFfGrGMu5hCo3S9llngAE90k5Q/edit?usp=sharing" target="_blank">View Rider Google Doc</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <a href="/about"><h6>About this Project</h6></a>
          <h6 class="mt-3">Contact</h6><a href="mailto:housingliteracy@gmail.com">housingliteracy[at]gmail.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="">
            &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
