<header class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
    <div class="d-flex flex-row">
      <div class="logo-image">
        <img src="/assets/logo.svg" alt="Housing Literacy Logo" class="housing-literacy-logo">
      </div>
      <div class="logo-name">
        HOUSING<br/>LITERACY
      </div>
    </div>
  </a>
  <div class="d-block d-sm-none">
  <button class="annotation-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle annotations">
    <img src="/assets/annotations.svg" alt="Annotations" class="annotation-image">
  </button>
  </div>



  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}

      <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
          <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

</header>
