{{ if .IsNamedParams }}
  <div class="{{ if .Get "class" }}{{ .Get "class" }}{{ else }}embed-container{{ end }}">
    <iframe src="//player.vimeo.com/video/{{ .Get "id" }}?muted=1&autoplay=1&loop=1" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
{{ else }}
  <div class="{{ if len .Params | eq 2 }}{{ .Get 1 }}{{ else }}embed-container{{ end }}">
    <iframe src="//player.vimeo.com/video/{{ .Get 0 }}" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
{{ end }}
