{{ define "main" }}
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="document-title">Housing<br/>Literacy</h1>
    </div>
  </div>
  <div class="doc-row row d-flex align-items-center my-5">
    <div class="col-lg-6 offset-lg-1 mb-4">
      <div class="page-home m-auto">
        <a href="/documents/lease" class="text-black">
          <div class="text-center">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#rent-stabilized-rider">ATTACHED RIDER SETS FORTH RIGHTS AND OBLIGATIONS OF TENANTS AND LANDLORDS UNDER THE RENT STABILIZATION LAW.</span> (LOS DERECHOS Y RESPONSABILIDADES DE INQUILINOS Y CASEROS ESTN DISPONIBLE EN ESPAOL).</strong>
          </div>

          <div class="border p-4 mt-1">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#what-to-expect-in-a-lease">STANDARD FORM OF APARTMENT LEASE THE REAL ESTATE BOARD OF NEW YORK, INC.</span></strong> Copyright 1988. All Rights Reserved. Reproduction in whole or in part prohibited.
          </div>

          <div class="mt-1">
            <strong>PREAMBLE:</strong> This lease contains the agreements between You and Owner concerning <span class="annotation-link" data-toggle="modal" data-target="#personal-protections">Your rights and obligations and the rights and obligations of Owner. You and Owner have other rights and obligations which are set forth in government laws and regulations.</span><br/>
        </div>
          <div>
            You should read this Lease and all of its attached parts carefully. If You have any questions, or if You do not understand any words or statements, get clarification. <span class="annotation-link" data-toggle="modal" data-target="#rights-to-representation">Once You and Owner sign this Lease You and Owner will be presumed to have read it and understood it.</span> You and Owner admit that all agreements between You and Owner have been written into this Lease. You understand that any agreements made before or after this Lease was signed and not written into it will not be enforceable.
          </div>

          <div class="mt-1">
            THIS LEASE is made on ________________________________________________between Owner, ___________________________________ whose address is ________________________________ and You, the Tenant, ___________________________________________________ whose address is __________________________________________________________.
          </div>

          <div class="mt-1">
            <strong>1 . APARTMENT AND USE</strong><br/>
            Owner agrees to lease to You Apartment ____________ on the____________loor in the Building at ____________Borough of ____________, City and State of New York. You shall use the Apartment for living purposes only. The Apartment may be occupied by the tenant or tenants named above and by the immedite family of the tenant or tenatnts and by occupants as definied in and only in accordance with the Real Property Law §235-f.
          </div>

          <div class="mt-1">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#lease-renewal">2. LENGTH OF LEASE</span></strong><br/>
            The term (that means the length) of this Lease is ____________years, ____________months ____________days, beginning on ____________ and ending on ____________. If you do not do everything You agree to do in this Lease, Owner may have the right to end it before the above date. If Owner does not do everything that owner agrees to do in this Lease, You may have the right to end the Lease before ending date.
          </div>

          <div class="mt-1">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#rent-stabilized-unit">3. RENT</span></strong><br/>
            <span class="annotation-link" data-toggle="modal" data-target="#rent-charges-and-rent-increases">Your monthly rent for the Apartment</span> is <span class="annotation-link" data-toggle="modal" data-target="#rent-history"><span class="fake-underline">$____________</span></span> until adjusted pursuant to Article 4 below. You must pay Owner the rent, in advance, on the first day of each month either at Owner’s office or at another place that Owner may inform You of by written notice. <span class="annotation-link" data-toggle="modal" data-target="#preferential-rents">You must pay the first month’s rent to Owner when You sign this Lease if the lease begins on the first day of the month. If the Lease begins after the first day of the month, You must pay when you sign this lease (l)the part of the rent from the beginning date of this Lease until the last day of the month and (2)the full rent for the next full calendar month. If this Lease is a Renewal Lease, the rent for the first month of this Lease need not be paid until the first day of the month when the renewal term begins.</span>
          </div>

          <div class="mt-1">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#reasons-for-rent-destablization">4. RENT ADJUSTMENTS</span></strong><br/>
            If this Lease is for a Rent Stabilized apartment, the rent herein shall be adjusted up or down during the Lease term, including retroactively, to conform to the Rent Guidelines. Where Owner, upon application to the State Division of Housing and Community Renewal (“authorized agency”) is found to be entitled to an increase in rent or other relief, You and Owner agree: a. to be bound by such determination; b. where the authorized agency has granted an increase in rent, <span class="annotation-link" data-toggle="modal" data-target="#rent-increase-exemptions">You shall pay such increase in the manner set forth by the authorized agency;</span> c. except that in the event that an order is issued increasing the stabilization rent because of Owner hardship, You may, within (30) days of your receipt of a copy of the order, cancel your lease on sixty (60) days written notice to Owner. During said period You may continue in occupancy at no increase in rent. days written notice to Owner. During said period You may continue in occupancy at no increase in rent.
          </div>

          <div class="mt-1">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#security-deposits">5. SECURITY DEPOSIT</span></strong>
            <br/>You are required to give Owner the sum of $_______________________when You sign this Lease as a security deposit, which is called in law a trust. Owner will deposit this security in ______________ bank at _______________. If the Building contains six or more apartments, the bank account will earn interest. If You carry out all of your agreements in this Lease, at the end ofeach calendar year Owner or the bank will pay to Owner 1% interest on the deposit for administrative costs and to You all other interest earned on the security deposit.<br/>
            If You carry out all of your agreements in this Lease and if You move out of the Apartment and return it to Owner in the same condition it was in when You first occupied it, except for ordinary wear and tear or damage caused by fire or other casualty, Owner will return to You the full amount of your security deposit and interest to which You are entitled within 60 days after this Lease ends. However, if You do not carry out all your agreements in this Lease, Owner may keep all or part of your security deposit and any interest which has not yet been paid to You necessary to pay Owner for any losses incurred, including missed payments.<br/>
            If Owner sells or leases the building, Owner will turn over your security, with interest, either to You or to the person buying or leasing (lessee) the building within 5 days after the sale or lease. Owner will then notify You, by registered or certified mail, of the name and address of the person or company to whom the deposit has been turned over. In such case, Owner will have no further responsibility to You for the security deposit. The new owner or lessee will become responsible to You for the security deposit.
          </div>

          <div class="mt-1">
            <strong>6. IF YOU ARE UNABLE TO MOVE IN</strong><br/>
            A situation could arise which might prevent Owner from letting You move into the Apartment on the beginning date set in this Lease. If this happens for reasons beyond Owner’s reasonable control, Owner will not be responsible for Your damages or expenses, and this Lease will remain in effect. However, in such case, this Lease will start on the date when You can move in, and the ending date in Article 2 will be changed to a date reflecting the full term of years set forth in Article 2. You will not have to pay rent until the move-in date Owner gives You by written notice, or the date You move in, whichever is earlier. If Owner does not give You notice that the move-in date is within 30 days after the beginning date of the term of this Lease as stated in Article 2, You may tell Owner in writing, that Owner has 15 additional days to let You move in, or else the Lease will end. If Owner does not allow You to move in within those additional 15 days, then the Lease is ended. Any money paid by You on account of this Lease will then be refunded promptly by Owner.
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <a href="/documents/lease" class="home-title"><h3>Lease</h3></a>
      <span class="home-intro">A lease is a contractual arrangement calling for the lessee (user) to pay the lessor (owner) for use of an asset.</span>
      <a href="/documents/lease" class="btn btn-home">
        View Lease →
      </a>
    </div>
  </div>

  <div class="doc-row row d-flex align-items-center my-5">
    <div class="col-lg-6 offset-lg-1 mb-4">
      <div class="page-home m-auto">
        <a href="/documents/rider" class="text-black">
          <div class="text-center">
        State of New York <br />
        Division of Housing and Community Renewal Office of Rent Administration<br />
        Gertz Plaza<br />
        92-31 Union Hall Street<br />
        Jamaica, New York 11433<br />
        Web Site: www.nyshcr.org<br />
        Email address: rentinfo@nyshcr.org<br />
        <strong>Revision Date: March 2016</strong>
          </div>

          <div class="mt-1 text-center">
            <span class="annotation-link" data-toggle="modal" data-target="#rent-stabilized-rider">New York City LEASE Rider For Rent Stabilized Tenants</span><br/>
          <strong>FAILURE BY AN OWNER TO ATTACH A COPY OF THIS RIDER TO THE TENANT’S
          LEASE WITHOUT CAUSE MAY RESULT IN A FINE OR OTHER SANCTIONS</strong>

          </div>

          <div class="mt-1">
            <strong>NOTICE</strong> <br />
        This Rider, with this Notice, must be attached to all vacancy and renewal leases for rent stabilized apartments. This Rider was prepared pursuant to Section 26-511(d) of the New York City Rent Stabilization Law.

        This Rider must be in a print size larger than the print size of the lease to which the Rider is attached. The following language must appear in bold print upon the face of each lease : <strong>“ATTACHED RIDER SETS FORTH RIGHTS AND OBLIGATIONS OF TENANTS AND LANDLORDS UNDER THE RENT STABILIZATION LAW.”</strong>
          </div>

          <div class="border p-3 mt-1">
            <span class="annotation-link" data-toggle="modal" data-target="#sections-to-complete">Section 1</span> (If this is a renewal lease, do not complete section 1, go to section 2)
          </div>

          <div class="mt-1">
          If Box A is checked, the owner <strong>MUST</strong> show how the rental amount provided for in such vacancy lease has been computed above the previous legal regulated rent by completing the following chart. The owner is not entitled to a rent which is more than the legal regulated rent. For additional information see DHCR Fact Sheet #5.
        In addition, the owner <strong>MUST</strong> complete the Notice To Tenant Disclosure of Bedbug Infestation History, as required by the NYC Housing Maintenance Code Section 27-2018.1, which is required to be served on the tenant with this Lease Rider.

        ANY INCREASE ABOVE THE PREVIOUS LEGAL REGULATED RENT MUST BE IN ACCORDANCE WITH ADJUSTMENTS PERMITTED BY THE RENT GUIDELINES BOARD AND THE RENT STABILIZATION CODE.
        <strong>VACANCY LEASE RENT CALCULATION</strong>
        <span class="annotation-link" data-toggle="modal" data-target="#prior-unit-status">Status of Apartment and Last Tenant</span> (Owner to Check Appropriate Box - (A), (B), (C), or (D).)

        (A) This apartment was rent stabilized when the last tenant moved out. If the last stabilized tenancy was more than 4 years prior
        to the signing of this lease see RSC 2526.1(a)(3)(iii) or DHCR Fact Sheet # 5 which may entitle the Owner to additional rent
        guideline increases over the last stabilized tenancy.

        <span class="annotation-link" data-toggle="modal" data-target="#address-of-rent-stabilized-unit">Address: </span><span class="fake-underline">________________________________________</span> Apt #: <span class="fake-underline">___________________</span>
        </div>

        <div class="row">
          <div class="col-8">
          1.  Previous Legal Regulated Rent
        (i) Additional Rent Guideline increases, applicable only, if the last stabilized
        tenancy was more than 4 years prior to the signing of this lease.
        </div>
          <div class="col-4">$<span class="fake-underline"></span></div>
        </div>

        <div class="row mt-1">
          <div class="col-8">
          <span class="annotation-link" data-toggle="modal" data-target="#statutory-vacancy-increases">2.  Statutory Vacancy Increase</span> <br />
          (i)  Increase based on (1 year) or (2 year) lease or
             (Preferential Rent Vacancy Limitation). Circle one.	  (________%)
        </div>
          <div class="col-4">$<span class="fake-underline"></span></div>
        </div>

        <div class="row mt-1">
          <div class="col-8">
          (ii) Increase based on length of time (8 years or more)
              since last vacancy allowance or if no vacancy allowance
              has been taken, the number of years that the apartment
              has been subject to stabilization. 		(0.6% x number of years)
        </div>
          <div class="col-4">$<span class="fake-underline"></span></div>
        </div>

        <div class="row mt-1">
          <div class="col-8">
          (iii) Increase based on low rental amount. If applicable
               complete (a) or (b), but not both.

              (a) Previous legal regulated rent was less than $300 -
                    additional $100 increase, enter 100

              (b) If the previous legal regulated rent was $300or more
                    but less than $500						(1)_________
                    the sum of (i) and (ii)					(2)_________
                   (1) minus (2). If less than zero, enter zero <br />
                   Amount from line (3)			$______________
        </div>
          <div class="col-4">$<span class="fake-underline"></span></div>
        </div>

        <div class="row mt-1">
          <div class="col-8">
            <span class="annotation-link" data-toggle="modal" data-target="#vacancy-allowance">3. Vacancy Allowance,</span> if permitted by NYC Rent Guidelines Board (_____%)
         </div>
          <div class="col-4">$<span class="fake-underline"></span></div>
        </div>

        <div class="row mt-1">
          <div class="col-8">
          4.   Guidelines <span class="annotation-link" data-toggle="modal" data-target="#supplementary-adjustments">Supplementary Adjustment</span>, if permitted by NYC Rent
               Guidelines Board
         </div>
          <div class="col-4">$<span class="fake-underline"></span>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <a href="/documents/rider" class="home-title"><h3>Rider</h3></a>
      <span class="home-intro">Riders are additional documents affixed to the lease and can include anything either not contained in the lease itself, such as building rules, or as a modification of what is stated in a boilerplate lease agreement.</span>
      <a href="/documents/rider" class="btn btn-home">
        View Rider →
      </a>
    </div>
  </div>

  <div class="doc-row row d-flex align-items-center my-5">
    <div class="col-lg-6 offset-lg-1 mb-4">
      <div class="page-home m-auto">
        <a href="/documents/renewal" class="text-black">
          <div class="text-center">
            <strong><span class="annotation-link" data-toggle="modal" data-target="#explanation-of-renewal-policies">RENEWAL LEASE FORM</span></strong> <br />
            Owners and Tenants should read <strong>INSTRUCTIONS TO OWNER</strong> and <strong>INSTRUCTIONS TO TENANT</strong><br />
            on reverse side before filling out or signing this form<br />
            <strong>THIS IS A NOTICE FOR RENEWAL OF LEASE AND RENEWAL LEASE FORM ISSUED UNDER SECTION 2523.5(a) OF THE RENT STABILIZATION CODE. ALL COPIES OF THIS FORM MUST BE SIGNED BELOW AND RETURNED TO YOUR LANDLORD WITHIN 60 DAYS.</strong>
          </div>
          <div class="mt-3">
            <span class="annotation-link" data-toggle="modal" data-target="#date-of-the-lease">Dated: ________________________ 20_________</span>
          </div>


          <div class="row mt-3">
            <div class="col">
            Tenant's Name(s) and Address:
            <span class="annotation-link" data-toggle="modal" data-target="#tenants-name-and-full-address">_____________________________</span><br />
            <span class="annotation-link" data-toggle="modal" data-target="#tenants-name-and-full-address">_____________________________</span><br />
            <span class="annotation-link" data-toggle="modal" data-target="#tenants-name-and-full-address">_____________________________</span><br />
            <span class="annotation-link" data-toggle="modal" data-target="#tenants-name-and-full-address">_____________________________</span>
           </div>

            <div class="col">
          Owner's /Agent's Name and Address:
          <span class="annotation-link" data-toggle="modal" data-target="#landlords-name-and-full-address">________________________________</span><br />
          <span class="annotation-link" data-toggle="modal" data-target="#landlords-name-and-full-address">___________________________________</span><br />
          <span class="annotation-link" data-toggle="modal" data-target="#landlords-name-and-full-address">___________________________________</span><br />
          <span class="annotation-link" data-toggle="modal" data-target="#landlords-name-and-full-address">________________________________</span>
            </div>
          </div>

          <div class="mt-1">
          <span class="annotation-link" data-toggle="modal" data-target="#date-of-expiration-of-current-lease">1.The owner hereby notifies you that your lease<br />
          will expire on: _________ / _________ /________</span>
          </div>

          <div style= "background-color: #9B9B9B";>
          <div class="border p-1 p-sm-4 p-xl-1 mt-1 text-center">
            <strong>PART A - OFFER TO TENANT TO RENEW</strong>
          </div>
          </div>
          <div class="mt-1">
          2. You may renew this lease, for one or two years, at your option, as follows:
          </div>

          <table class="table table-bordered text-center">

            <tbody>
              <tr>
                <td><strong>Column A</strong>
              Renewal Term</td>
                <td><strong>Column B</strong>
                Legal Rent on Sept.30th Preceding Commencement
                Date of this Renewal Lease</td>
                <td><strong>Column C</strong>
              Guideline % or Minimum $ Amount (If unknown, check box
              and see below)</td>
                <td><strong>Column D</strong>
                Applicable Guideline Supplement, if any</td>
                <td><strong>Column E</strong>
              Lawful Rent Increase, if any, Effective after Sept. 30th</td>
                <td><strong>Column F</strong>
              New Legal Rent (If a lower rent is to be charged, checkbox and see item 5 below)</td>
              </tr>
              <tr>
                <td><strong> <span class="annotation-link" data-toggle="modal" data-target="#renewal-terms">1 year <br />
                2 years</span>
                </td>

                <td><strong><span class="annotation-link" data-toggle="modal" data-target="#legal-rent-on-current-lease">
                $ ________ <br />
                Same as above
                </span>
                </strong>
                </td>

                <td><strong><span class="annotation-link" data-toggle="modal" data-target="#rgb-allowable-rent-increases">(  %)$ ______ <br />
                (  %)$ ______</span></strong>
                </td>

                <td><strong><span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#other-allowable-increases-(iais">$ ______ <br />
                $ ______</span></strong>
                </td>

                <td><strong><span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#mcis-and-other-lawful-increases">$ ______ <br />
                $ ______</span></strong></td>

                <td><strong><span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#new-legal-rent">$ ______ <br />
                $ ______</span></strong>
              </tr>
              <tr>

            </tbody>
          </table>

          <div class="mt-1">
          * If applicable guideline rate is unknown at time offer is made check box in column c and enter current guideline which will be subject to adjustment when rates are ordered.
          </div>

          <div class="row mt-1">
            <div class="col">
            <strong>3. Security Deposit:</strong><br />
          <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#current-security-deposit">Current Deposit: $______________
          </span>

           </div>

            <div class="col">
            Additional Deposit Required - 1 year lease: <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#security-deposit-increase">$___________</span> <br />
            Additional Deposit Required - 2 year lease: <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#security-deposit-increase">$___________</span>

            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
            <strong>4. Specify separate charges, if applicable:</strong><br />
            a. <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#other-charges">Air conditioner : $_________</span><br />
            b. <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#other-charges">Appliances 	: $ _________</span>

           </div>

            <div class="col">
            c. <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#other-charges">421a (2.2%): $_________	Total separate charges: $_____________</span>  <br />
            d. <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#other-charges">Other: ________________$_________</span>

            </div>
          </div>

          <div class="mt-1">
          <strong>5. Lower Rent to be charged, if any</strong>. 1 year lease <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#preferential-rent">$__________,</span> 2 year lease <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#preferential-rent">$__________</span> Agreement attached: Yes   No
          </div>

          <div class="mt-1">
          <strong>6. <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#preferential-rent-riders">Tenant shall pay a monthly rent (enter amount from 2F or 5) of $______________ for a 1 year renewal or $ ___________ for a 2 year renewal, plus total separate charges (enter amount from 4) $_____________ for a total monthly payment of $_____________ for a 1 year renewal or $____________ for a 2 year renewal.</span></strong>
          </div>

          <div class="mt-1">
          7. This renewal lease shall commence on <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#new-lease-commencement">____________________</span>, which shall not be less than 90 days nor more than 150 days from the date of mailing or personal delivery of this Renewal Lease Form. This Renewal Lease shall terminate on
          <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#new-lease-commencement">___________________</span> (1 year lease) or <span id="rent-stabilized-rider-anchor" class="annotation-link" data-toggle="modal" data-target="#new-lease-commencement">____________________</span> (2 year lease.)
          </div>

          <div class="mt-1">
          8. This renewal lease is based on the same terms and conditions as your expiring lease. (See instructions about additional provisions.)
          </div>

          <div class="mt-1">
          9. SCRIE and DRIE. Owner and Tenant acknowledge that, as of the date of this renewal, Tenant is entitled to pay a reduced monthly rent in the amount of <span class="annotation-link" data-toggle="modal" data-target="#scrie-drie-frozen-rent">$ _______________</span>under the New York City SCRIE program or the New York City DRIE program. The reduced rent may be adjusted by orders of such program.
          </div>

          <div class="mt-1">
          <strong>10. Leased premises does, does not have an operative sprinkler system. If operative, it was last maintained and inspected on <span class="annotation-link" data-toggle="modal" data-target="#operative-sprinkler-system">____________________</span>.
          This form becomes a binding lease renewal when signed by the owner below and returned to the tenant. A rider setting forth the rights and obligations of tenants and owners under the Rent Stabilization Law must be attached to this lease when signed by the owner and returned to the tenant. The rent, separate charges and total payment provided for in this renewal lease may be increased or decreased by order or annual updates of the Division of Housing and Community Renewal (DHCR) or the Rent Guidelines Board (RGB).</strong>

          </div>
          <div style= "background-color: #9B9B9B";>
          <div class="border p-2 mt-1 text-center">
            <strong>PART B - TENANT'S RESPONSE TO OWNER</strong>
          </div>
          </div>

          <div class="mt-1">
          Tenant: Check and complete where indicated one of three responses below after reading instructions on reverse side. Then date and sign your response below. You must return this Renewal Lease Form to the owner in person or by regular mail, within 60 days of the date this Notice was served upon you by the owner. Your failure to do so may be grounds for the commencement of an action by the owner to evict you from your apartment.
          </div>

          <div class="mt-1">
          <span class="annotation-link" data-toggle="modal" data-target="#tenant's-terms-of-acceptance">
          &#9744;I (we), the undersigned Tenant(s), accept the offer of a one (1) year renewal lease at a monthly rent of $_______________ , plus separate charges of $_______________ for a total monthly payment of $_______________.<br />
          &#9744;I (we), the undersigned Tenants(s), accept the offer of a two (2) year renewal lease at a monthly rent of $_______________, plus separate charges of $_______________ for a total monthly payment of $_______________.<br />
          &#9744;I (we) will not renew my (our) lease and I (we) intend to vacate the apartment on the expiration date of the present lease.</span>

          </div>

          <div class="row mt-1">
            <div class="col">
            <a class="annotation-link" data-toggle="modal" data-target="#date-of-acceptance">Dated________________</a>

           </div>
            <div class="col">
            <a class="annotation-link" data-toggle="modal" data-target="#acknowledgement-of-acceptance">Tenant's Signature(s):________________</a>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col">
            <a class="annotation-link" data-toggle="modal" data-target="#date-of-acceptance">Dated________________</a>
           </div>
            <div class="col">
              <a class="annotation-link" data-toggle="modal" data-target="#acknowledgement-of-acceptance">Owner's Signature(s):________________</a>
            </div>
          </div>
          </a>
        </div>
        </div>
      <div class="col-lg-4">
        <a href="/documents/renewal" class="home-title"><h3 id="legaldisclaimer">Renewal</h3></a>
        <span class="home-intro">Lease Renewal Agreements extend an expiring lease for an additional term.</span>
        <a href="/documents/renewal" class="btn btn-home">
          View Renewal →
        </a>
      </div>
    </div>
  </div>


{{end}}
