{{ define "main" }}
  <div class="container-fluid document single">
    <div class="row">
      <div class="col-md-8">
        <h1 class="document-title">{{ .Description }}</h1>
      </div>
    </div>
    <div class="row pt-3 pt-md-5">
      <div class="col-lg-8 col-md-7 col-sm-12">
        <div class="document m-auto" style="max-width: 750px;">
        {{ .Content }}
        </div>
      </div>
      <div class="collapse navbar-collapse col-xl-3 offset-xl-1 col-lg-4 col-md-5 col-sm-9" id="navbarSupportedContent">
        <div class="annotation-image">
  			<img src="/assets/annotations.svg" alt="Annotations" class="annotation-image">
        </div><h5 class="annotation-title mb-4">Annotations</h5>
      {{ with .Resources.Match "annotations/*" }}
        {{ range sort . "Name" }}
        <!-- Trigger modal -->
        <a id="modal-link" class="p-3 modal-link trigger" data-toggle="modal" data-target="#{{ .Param "slug" }}" href="#{{ .Param "description" }}">
          <h6>{{ .Title }}</h6>
          {{ if .Param "highlight"}}
            <strong>{{.Param "highlight"}}</strong><br/>
          {{end}}
          {{ .Param "excerpt" }}
          <div id="gradient" class="gradient">
          </div>
        </a>

      {{end}}
      {{ end }} <!-- ends range loop above -->
      </div>
      {{ range .Resources.Match "annotations/*" }}
      <!-- Modal -->
      <div class="modal" id="{{ .Param "slug" }}" tabindex="-1" role="dialog" aria-labelledby="{{ .Param "slug" }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="flex-column">
              <img src="/assets/annotations.svg" alt="Housing Literacy Logo" class="annotation-image">
              </div>
              <h5 class="modal-title">{{.Title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-highlight">
            {{ if .Param "highlight"}}
              <strong>{{.Param "highlight"}}</strong>
            {{end}}
            </div>

            <div class="modal-body">
             {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    {{end}}

    </div>
  </div>
{{end}}
